<!DOCTYPE html>
<html lang="en">
<%- include('partials/header') %>
<body>
    <nav>
        <h1 class="homepage-message">Internal Server Error, Please Return Home!</h1>
        <a href="/" class="nav-buttons">Return Home</a>
    </nav>
</body>
</html>