<!DOCTYPE html>
<html lang="en">
<%- include('partials/header') %>
<body>
    <nav>
        <h1 class="homepage-message">Please Enter Your Login Information!</h1>
        <a href="/" class="nav-buttons">Return Home</a>
    </nav>
    <div >
        <form action="/login" method="post" id="login-form">
            <div>
                <label for="username">Enter your username: </label>
                <input type="text" id="username" name="username" required>
            </div>
            <div>
                <label for="password">Enter your password: </label>
                <input type="password" id="password" name="password" required>
            </div>
            <button type="submit" class="nav-buttons">Login!</button>
        </form>
    </div>
</body>
</html>